body
{
    background-image: url("../assests/Todo1.jpg");
   background-repeat: no-repeat;
   background-size: 100%;
   background-position-x: center;
}
.field
{
    margin: 300px 650px 0px 950px;
    font-family: Arial, Helvetica, sans-serif;
    max-width: 800px;
}

.task
{
    display: flex;
    align-items: center;
    margin: 30px 0px;
}

.task input[type="checkbox"]
{
    margin-right: 10px;
}

.task span
{
    flex-grow: 1;
    padding: 0 10px;
}

.task.strikethrough span
{
    text-decoration: line-through;
    color: #888;
}

.task button
{
    background-color: #fe2929;
    border: none;
    color: whitesmoke;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 4px;
}

#infield
{
    padding: 10px;
    box-sizing: border-box;
    width: 100%;
}